<div class="jumbotron">

	<center>
		<h1>Welcome to my Pizza Shack</h1>

		<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRyngCsfyShQdEWG4QeiNYsZ9sTPbKltgO48tbj1lrodK9N_t7cCQ">
		<br>


		<!-- HREF IN RAILS!!! -->
		<%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn0default"%>

	</center>
</div>